@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease .3s;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2d2d2cfc;
    --text-color: #2a2927f8;
    --heading-color: #252423;
    --base: 1em;
}
/* For Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: .7em; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Track color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color); /* Scroll thumb color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scroll thumb color on hover */
}


body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    margin-bottom: .25em;
    color: var(--heading-color);
    line-height: .9;
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 0.var(--base);
}

p {
    margin-bottom: var(--base);
}

h1+p {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: calc(var(--base)*.1);
}

h1+p+p {
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}
.tilt-container{
    perspective: 1000px;
    max-width: 400px;
    width: 100%;
    margin: var(--base) auto;
    position: relative;

}
.wrapper {
    width: 100%;
    height: 90vh;
    max-height: 600px;
    overflow: hidden;
    border-radius: var(--base);
    background-color: var(--bg-color);
    position: relative;
    transform-style: preserve-3d;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 100% 65%;
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--base);
    padding: 2em;
    margin: -em auto 0;
    background: linear-gradient(to bottom, #ffda8b, #fea84d);
}

.upward-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-top: -.5em;
    transition: all 0.5s ease;
}

.wrapper:hover 
.container {
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow-y: auto;
}

.wrapper:hover 
.container .upward-arrow {
    opacity: 0;
}

.profile_count {
    display: flex;
    gap: var(--base);
}

.profile_count p {
    margin-bottom: 0;
}

.profile_count>div {
    flex: 1 1 auto;
}

h3 {
    font-size: 1.6em;
    font-weight: 800;
}

button {
    border: none;
    padding: var(--base);
    font: inherit;
    font-weight: 500;
    margin: calc(var(--base)*1.5) 0;
    border-radius: .5em;
    background-color: var(--text-color);
    color: #ffda8b;
    cursor: pointer;
}

button:hover {
    background-color: var(--heading-color);
    transition-duration: .1s;
}

.socials {
    display: flex;
    gap: .5em;
    font-size: 1.2em;
    margin-bottom: calc(var(--base));
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.socials a:hover {
    transform: scale(1.5);
}
section{
    margin-top: 1.5em;
}
section p {
    font-weight: 400;
    font-size: 1.1em;
}
ul{
    padding-left: 1em;
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease .3s;
}

:root {
    --bg-color : #0E0E0E;
    --text-color: #2a2927f8;
    --heading-color : #252423;
    --base: 1em;
}

::-webkit-scrollbar {
    width: .7em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family : "Roboto", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin-bottom: .25em;
    color: var(--text-color);
    line-height: .9;
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: var(--base);
}

p {
    margin-bottom : var(--base);
}

h1+p {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: calc(--base)*.1;
}

h1+p+p {
    font-size: italic;
}

a {
    text-decoration: none;
    color: inherit;
}

.tilt-container{
    perspective: 1000px;
    max-width: 400px;
    width: 100%;
    margin: var(--base) auto;
    position: relative;
    border: solid blue;
}

 .wrapper {
    width: 100%;
    height: 90vh;
    max-height: 600px;
    overflow: hidden;
    border-radius: var(--base);
    background-color: var(--bg-color);
    position: relative;
    transform: preserve-3d;
    border: solid red;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 0%;
}

 .container {
    width: 100%;
    border: solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--base);
    padding: 2em;
    margin: -2em auto 0;
    background: linear-gradient(to bottom, #ffda8b, #fea84d);
} 

.upward-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-top: -.5em;
}

.wrapper:hover 
.container {
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow-y: auto;
}

.wrapper:hover 
.container .upward-arrow {
    opacity: 0;
}

.profile_count {
    display: flex;
    gap: var(--base);
}

.profile_count p {
    margin-bottom: 0;
}

.profile_count>div {
    flex: 1 1 auto;
}

h3 {
    font-size: 1.6em;
    font-weight: 800;
}

button {
    border: none;
    padding: var(--base);
    font: inherit;
    font-weight: 500;
    margin: calc(var(--base)*1.5) 0;
    border-radius: .5em;
    background-color: var(--text-color);
    color: #ffda8b;
    cursor: pointer;
}

button:hover {
    background-color: var(--heading-color);
    transition-duration: .1s;
}

.socials {
    display: flex;
    gap: .5em;
    font-size: 1.2em;
    margin-bottom: calc(var(--base));
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.socials a:hover {
    transform: scale(1.5);
}

section{
    margin-top: 1.5em;
}

section p {
    font-weight: 400;
    font-size: 1.1em;
}

ul{
    padding-left: 1em;
} */



/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.profile-card {
    width: 100%;
    background: #C9D0D8;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image-container {
    width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 370px;
    object-fit: cover;
}

.profile-content {
    width: 100%;
    background: #1F191B;
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 20px;
    border-radius: 0 0 20px 20px;
}

.profile-child-content {
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: linear-gradient(to bottom, #ECCB6C, #E3B490);
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    margin-top: -50px;
}

.profile-child-content strong {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.current {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.current p {
    font-size: 1rem;
    font-weight: 500;
}

.location {
    display: flex;
    gap: 6px;
    align-items: center;
}

.icon img {
    width: 16px;
}

.bio h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.email {
    background: #21201F;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 35px;
}

.social-link img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 500px;
        padding: 15px;
    }

    .image-container img {
        max-width: 300px;
    }

    .profile-child-content strong {
        font-size: 0.8rem;
    }

    .profile-child-content p {
        font-size: 0.9rem;
    }

    .email {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .image-container img {
        max-width: 250px;
    }

    .profile-child-content {
        padding: 15px;
        margin-top: -30px;
    }

    .profile-child-content strong {
        font-size: 1.2rem;
    }

    .profile-child-content p {
        font-size: 0.8rem;
    }

    .email {
        font-size: 0.8rem;
        padding: 8px;
    }

    .social-link {
        gap: 8px;
    }

    .social-link a {
        width: 15px;
        height: 30px;
    }
} */

